.body {
    background-color: rgb(27, 25, 25);
    margin-left: 200px;
    margin-right: 200px;
    flex-shrink: 3;
}

.wrapper {
    background-color: rgb(90, 90, 90);
    height: 700px;
    padding-top: 1px;
}

.main-body {
    /* font-family: "Amaranth"; */
    text-align: center;
    background-color: rgb(122, 122, 122);
    margin: 20px;
    border-radius: 5%;
    height: 400px;
}

.main-body h3 {
    font-size: 30px;
    color: black;
}

.main-body p {
    font-size: 20px;
}


.input-blocks {
    display: inline-block;
}

.input-blocks p {
    font-size: 20px;
    text-align: justify
}

.input-container {
    font-size: 25px;
    padding-top: 30px;
}

#team-name {
    border-bottom: 2px solid grey;
    color: black;
    padding-bottom: 15px;
    font-family: "Advent Pro";
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

#convert-btn {
    background-color: rgb(47, 180, 43);
    color: white;
    border-radius: 40%;
}


/* Autocomplete style */


.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #93bee0;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}