.body {
    background-image: url("./images/background-wallpaper.jpg");
    background-repeat: x;
    background-position: center;
}

.page-header {
    margin-top: 30px;
    display: flex;
}

.page-header h1 {
    color: rgba(255, 217, 65, 0.898);
    margin-top: 10px;
}

#lineChart {
    padding: 8px;
}

.page-header h2 {
    color: white;
    margin-top: 3px;
}

.nav-tabs>li>.nav-link {
    color: white;
    margin-right: 2px;
    line-height: 1.5;
    border: 1px solid rgb(36, 128, 111);
}

.nav-tabs>li>.nav-link:hover {
    border: 1px solid #8be4d3;
}

.nav-tabs>li>.nav-link.active {
    color: white;
    background: inherit;
    border: 1px solid rgb(36, 128, 111);
    border-bottom-color: rgb(2, 47, 50);
}

.nav-tabs>li>#chart-tab.active {
    border-bottom-color: rgb(2, 70, 69);
}

.nav-tabs {
    border-bottom: 1px solid rgb(36, 128, 111);

}

#contentOfTabs {
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid rgb(36, 128, 111);
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top: none;
    
}
#content-pills{
    border-left-width: 0px;
    border-right-width: 0px;
}

.jumbotron {
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 0px;
}

.form-control {
    color: #f8f9fa;
    font-weight: bold;
    background-color: inherit;
    background-clip: padding-box;
    border: 2px solid rgb(165, 250, 233);
    border-radius: .25rem;
}

.form-group p {
    margin-bottom: 3px;
    font-size: 17px;
    color: white;
    background-color: inherit;
    background-clip: padding-box;

}

.form-group :focus {
    background-color: inherit;
    color: white;
}

.currencies:focus {
    background: inherit;
}

.btn-toolbar {
    margin-top: 20px;
}

.input-blocks {
    display: inline-block;
}

#res-par {
    font-size: 30px;
    margin-top: 20px;
}

#res-from {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

#todayDate {
    font-size: 15px;
}

.btn-toolbar .btn {
    background: inherit;
    color: white;
}

#swap-btn {
    border-color: rgba(192, 192, 37, 0.6);
    background-color: rgba(153, 153, 14, 0.1);
}

#convert-btn {
    border: 1px solid rgba(79, 241, 120, 0.5);
    background-color: rgba(65, 160, 89, 0.1);
}

/* When is hover */
#convert-btn:hover {
    background-color: rgba(65, 160, 89, 0.5);
}

#swap-btn:hover {
    background-color: rgba(153, 153, 14, 0.5);
}

/* When is active */
#convert-btn:focus {
    background-color: rgba(65, 160, 89, 0.5);
}

#swap-btn:focus {
    background-color: rgba(153, 153, 14, .5);
}

/* Spin logo */
#loading {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 30px;
    -webkit-animation: rotation 4s infinite linear;
}

.center-btn {
    margin: 0 auto;
    padding-right: 14px;
}

#seven-days {
    background-color: inherit;
    border: 1px solid rgba(131, 239, 217, 0.2);
    color: white;
}

#seven-days:focus {
    border: 1px solid rgb(131, 239, 217);
    background-color: rgba(131, 239, 217, 0.2)
}

#thirty-days {
    color: white;
    background-color: inherit;
    border: 1px solid rgba(131, 239, 217, 0.2);
}

#thirty-days:focus {
    border: 1px solid rgb(131, 239, 217);
    background-color: rgba(131, 239, 217, 0.2)
}
#thirty-days:hover {
    border: 1px solid rgb(131, 239, 217);
}
#seven-days:hover {
    border: 1px solid rgb(131, 239, 217);
}

#pills-tab  {
    padding-top: 10px;
    justify-content: center;
}

@-webkit-keyframes rotation {

    0%,
    100% {
        -webkit-transform: rotate(540deg);
    }

    30%,
    100% {
        -webkit-transform: rotate(0deg);
    }
}