.body {
    background-color: rgb(27, 25, 25);
}

.input-container{
    color: black;
}

.jumbotron{
    background-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
    text-align: center;
}

.page-header h1{
    color: rgba(255, 217, 65, 0.898);
    margin-bottom: 0px;
}
.page-header h2{
    color: white;
    margin-top: 3px;
}

.form-group p{
    margin-bottom: 3px;
    font-size: 17px;
}

.btn-toolbar{
    margin-top: 20px;
}

.input-blocks {
    display: inline-block;
}

#swap-btn {
    color: black;
}
